* {
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #efefef;
  font-family: arial, sans-serif;
  direction: rtl;
  text-align: right;
}

a {
  text-decoration: none
}
